@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
}

body {
    direction: rtl;
    text-align: right;
    font-family: Sahel;
    font-size: 16px;
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    text-align: left;
}

.pager-button {
    float: left;
}

.site-heading h1 {
    font-size: 50px !important;
}

.post-title {
    font-size: 28px !important;
}

.post-subtitle {
    font-size: 18px;
}

.mainNav.is-fixed {
    position: fixed;
    top: -67px;
    transition: transform .2s;
    border-bottom: 1px solid #fff;
    background-color: rgb(127,129,134);
}

#mainNav.is-visible {
    transform: translate3d(0,100%,0);
    background-color: rgb(127,129,134);
}